

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h1>Products Details View</h1>
        <p>Product Id : @ViewBag.ProductId</p>
        <p>Product Name : @ViewBag.name</p>
        <p>Product Price : @ViewBag.price</p>
    </div>
</body>
</html>
